::ng-deep .cds--overflow-menu__icon {
  block-size: 2rem;
  fill: var(--cds-icon-primary, #161616);
  inline-size: 1.5rem;
}

.left {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
}

.left-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

cds-table {
  width: 100%;
}

.cds--form-item {
  align-items: unset;
}

.cds--modal-content {
  height: 260px;
}

.cds--modal-header__heading {
  font-weight: 700;
}

::ng-deep .cds--label {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
}

.right .post .image-post img {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;

}

.right {
  overflow-y: scroll;
  height: 520px;
}

.post {

  .likes {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heart-icon {
      cursor: pointer;
    }

    .like:hover {
      text-decoration: underline;
    }


    .comment {
      cursor: pointer;
    }

    .share {
      cursor: pointer;
    }


    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.all-comments .avatar {
  display: flex;


  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.all-comments {
  padding: 10px;
  border-radius: 5px;
  display: flex;

  #titleName {
    font-size: 14px;
    font-weight: 800;
    color: #262626;
  }

  .quyComments {

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 3px;
    }
  }

  .detail {
    .reply {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }

  .title {
    background-color: #f4f4f4;
    border-radius: 5px;
  }
}

.all-comments .detail .likeComment {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.list-like {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon-like {
    margin-right: 5px;
  }
}


.all-like {
  .like {
    display: flex;
    align-items: center;
    border-top: solid 1px #b4afaf;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 10px;
    }
  }
}

.all-share {
  .share {
    display: flex;
    align-items: center;
    border-top: solid 1px #b4afaf;

    img {
      width: 30px;
      height: 30px;
      margin: 10px;
      border-radius: 50%;
    }
  }
}

.list-share {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon-share {
    margin-right: 5px;
  }
}

.all-like {
  overflow-y: scroll;
  overflow-x: hidden;
}

.all-share {
  overflow-y: scroll;
  overflow-x: hidden;
}

.my-table-class {
  /* Truncate text with ellipsis (...) */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; // weird text truncation style used
  -webkit-line-clamp: 1; // because we need text to wrap
  -webkit-box-orient: vertical; // can't use white-space: nowrap
}


