<div class="content">
  <div class="post">
    <cds-table-container>
      <cds-table-toolbar>
        <cds-table-toolbar-content>
          <cds-table-toolbar-search
            [expandable]="true"
            (valueChange)="filterUserNames($event)"
            (clear)="searchValue = ''"
          >
          </cds-table-toolbar-search>
        </cds-table-toolbar-content>
      </cds-table-toolbar>

      <div class="left-content">
        <cds-table
          [model]="model"
          [sortable]="false"
          (rowClick)="onRowClick($event)"
          size="md"
          [skeleton]="skeleton"
          [showSelectionColumn]="showSelectionColumn"
          [enableSingleSelect]="enableSingleSelect"
          [stickyHeader]="stickyHeader"
          [striped]="striped"
          [isDataGrid]="isDataGrid"
        >
        </cds-table>
        <cds-pagination-nav
          [model]="modelPagination"
          [disabled]="disabled"
          (selectPage)="selectPage($event)"
        >
        </cds-pagination-nav>
      </div>
    </cds-table-container>
  </div>
</div>
