#content {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
  }
}

.category {
  .add-cate {
    cursor: pointer;
    background-color: #161616;
    color: #fff;
    width: 100px;
  }
}

.category {
  width: 45%;
}


cds-pagination-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

#content .category {
  p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
  }
}

cds-modal .input {
  p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
  }
}
