<div id="content">
  <div class="category">
    <cds-table-container>
      <cds-table-toolbar>
        <cds-table-toolbar-content>
          <h1>Category</h1>
          <cds-table-toolbar-search
            [expandable]="true"
            (valueChange)="filterCate($event)"
            (clear)="searchValue = ''"
          >
          </cds-table-toolbar-search>
        </cds-table-toolbar-content>
      </cds-table-toolbar>
      <cds-table
        [model]="model1"
        [sortable]="false"
        (rowClick)="onRowClick($event)"
        size="md"
        [skeleton]="skeleton"
        [showSelectionColumn]="showSelectionColumn"
        [enableSingleSelect]="enableSingleSelect"
        [stickyHeader]="stickyHeader"
        [striped]="striped"
        [isDataGrid]="isDataGrid"
      >
      </cds-table>
      <cds-pagination-nav
        [model]="model1Pagination"
        [disabled]="disabled"
        (selectPage)="selectPage($event)"
      >
      </cds-pagination-nav>
    </cds-table-container>
  </div>
  <!--  /////////////////////////////////////////////////////////////////////-->
  <div class="hashtag">
    <cds-table-container>
      <cds-table-toolbar>
        <cds-table-toolbar-content>
          <h1>Hashtag</h1>
          <cds-table-toolbar-search
            [expandable]="true"
            (valueChange)="filterHashtag($event)"
            (clear)="searchValue = ''"
          >
          </cds-table-toolbar-search>
        </cds-table-toolbar-content>
      </cds-table-toolbar>
      <cds-table
        [model]="model2"
        [sortable]="false"
        (rowClick)="onRowClick($event)"
        size="md"
        [skeleton]="skeleton"
        [showSelectionColumn]="showSelectionColumn"
        [enableSingleSelect]="enableSingleSelect"
        [stickyHeader]="stickyHeader"
        [striped]="striped"
        [isDataGrid]="isDataGrid"
      >
      </cds-table>
      <cds-pagination-nav
        [model]="model2Pagination"
        [disabled]="disabled"
        (selectPage)="selectPage($event)"
      >
      </cds-pagination-nav>
    </cds-table-container>
  </div>
</div>
