<!--<cds-table-container id="cate-table">-->
<!--  <cds-table-header>-->
<!--    <h4>CATEGORY</h4>-->
<!--  </cds-table-header>-->
<!--  <cds-table-toolbar>-->
<!--    <cds-table-toolbar-content>-->
<!--      <cds-table-toolbar-search-->
<!--        [expandable]="true"-->
<!--        (valueChange)="filterNodeNames($event)"-->
<!--        (clear)="filterNodeNames('')">-->
<!--      </cds-table-toolbar-search>-->
<!--      <button-->
<!--        class="btn-edit"-->
<!--        cdsButton="secondary"-->
<!--      >Edit-->
<!--      </button>-->
<!--      <button-->
<!--        cdsButton="ghost"-->
<!--        class="toolbar-action"-->
<!--        [cdsOverflowMenu]="templateRef"-->
<!--        placement="bottom"-->
<!--        [flip]="true"-->
<!--        [offset]="{ x: 3, y: 0 }">-->
<!--        <svg cdsIcon="filter" size="16" class="cds&#45;&#45;toolbar-action__icon"></svg>-->
<!--      </button>-->
<!--    </cds-table-toolbar-content>-->
<!--  </cds-table-toolbar>-->
<!--  <div class="left-content">-->
<!--    <cds-table-->
<!--      [model]="model"-->
<!--      [sortable]="false"-->
<!--      size="md"-->
<!--      [skeleton]="skeleton"-->
<!--      [showSelectionColumn]="false"-->
<!--      [enableSingleSelect]="enableSingleSelect"-->
<!--      [stickyHeader]="stickyHeader"-->
<!--      [striped]="striped"-->
<!--      [isDataGrid]="isDataGrid">-->
<!--      <ng-content></ng-content>-->
<!--    </cds-table>-->
<!--    <cds-pagination-nav-->
<!--      [model]="modelPagination"-->
<!--      [disabled]="disabled"-->
<!--      (selectPage)="selectPage($event)"-->
<!--      [numOfItemsToShow]="dataLengthPerPage">-->
<!--    </cds-pagination-nav>-->
<!--  </div>-->
<!--</cds-table-container>-->

<!--<ng-template #templateRef>-->
<!--  <div style="padding: 0 1rem;" (click)="overflowOnClick($event)">-->
<!--    <div style="padding-top: 0.5rem; color: grey;">Countries shown</div>-->
<!--    <cds-checkbox-->
<!--      [checked]="displayedCountries.includes('US')"-->
<!--      (checkedChange)="filterCountries('US', $event)">-->
<!--      US-->
<!--    </cds-checkbox>-->
<!--    <cds-checkbox-->
<!--      [checked]="displayedCountries.includes('France')"-->
<!--      (checkedChange)="filterCountries('France', $event)">-->
<!--      France-->
<!--    </cds-checkbox>-->
<!--    <cds-checkbox-->
<!--      [checked]="displayedCountries.includes('Argentina')"-->
<!--      (checkedChange)="filterCountries('Argentina', $event)">-->
<!--      Argentina-->
<!--    </cds-checkbox>-->
<!--    <cds-checkbox-->
<!--      [checked]="displayedCountries.includes('Japan')"-->
<!--      (checkedChange)="filterCountries('Japan', $event)">-->
<!--      Japan-->
<!--    </cds-checkbox>-->
<!--  </div>-->
<!--</ng-template>-->

<!--</cds-table-container>-->
