::ng-deep .cds--btn--secondary:focus {
  border-color: var(--cds-button-focus-color, var(--cds-focus, #161616));
  box-shadow:
    inset 0 0 0 1px var(--cds-button-focus-color, var(--cds-focus, #161616)),
    inset 0 0 0 2px var(--cds-background, #ffffff);

}


.container {
  padding-top: 20px;
  padding-right: 150px;
  padding-left: 150px;

}

.btn-save{
  border: black;
}

.pagi {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.top {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  //margin-top: 20px;
}

.left {
  display: flex;
  flex-direction: column;

}

.account {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;

}

.chat-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.chat-box-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.left {
  width: 50%;

}

.right {
  width: 50%;
}

.widchat {
  p {
    max-width: 400px;
  }
}

::ng-deep .cds--content {
  padding: 0;
}

cds-dropdown .cds-dropdown-list {
  width: 80%;

  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
}

cds-dropdown .cds-dropdown-list.open {
  max-height: 200px;
  transition: max-height 0.2s;
}
cds-dropdown:focus , cds-dropdown:active {
  border: 1px solid black;
  outline: none;

}
cds-dropdown-list:focus , cds-dropdown-list:active {
  border: 1px solid black;
  outline: none;

}
//button:hover {
//  background-color: black;
//  border: none;
//  transform: scale(0.95);
//}

button:focus {
  outline: none;
}
//button:active {
//  border: 1px solid black;
//  outline: none;
//  background-color: black;
//  transform: scale(0.95);
//}
.btn-save {
  width: 132px;
}

.myDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  background-color: #f4f4f4;
  width: 100%;
  min-height: 50px;
  align-items: center;
  padding: 0 0 0 20px;
}

.img-mini-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

h2 {
  font-weight: 500;
  color: #000;
}

@media (min-width: 1024px) {
  .container {
    padding-right: 200px;
    padding-left: 200px;
  }
  .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    object-fit: cover;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    padding-right: 100px;
    padding-left: 100px;
  }
  .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    object-fit: cover;
  }
}

@media (max-width: 740px) {

  .container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .content {
    flex-direction: column;
    gap: 10px;
  }
  .chat-box {
    flex-direction: column;
    gap: 10px;
  }
  .chat-box-total {
    gap: 10px;
  }
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .account {
    flex-direction: column;
    gap: 10px;
  }
  .myDiv {
  display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }
  .btn-save {
    width: 150px;
  }
  .widchat {
    p {
      max-width: 100%;
    }
  }
  .top {
    flex-direction: column;
    gap: 10px;
  }
  .left {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .img-mini-avatar {
    height: 40px;
    width: 40px;
  }
  .btn-signout {
    width: 150px;
    margin-top: 20px;

  }
  .pagi {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    justify-items: center;


  }
 .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   object-fit: cover;
  }
}
h4 {
  margin-top: 10px;
}
