<ibm-header name="Imago Administration" cdsTheme="g100">
  <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
    <ibm-header-item [routerLink]="['./']">Dashboard</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
    <ibm-header-item [routerLink]="['user']">User Management</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
    <ibm-header-item [routerLink]="['role']">Role Management</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
    <ibm-header-item [routerLink]="['post']">Post Management</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
    <ibm-header-item [routerLink]="['report']"
      >Report Management</ibm-header-item
    >
  </ibm-header-navigation>
  <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
    <ibm-header-item [routerLink]="['settings']">Settings</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-global>
    <ibm-header-action title="action">
      <svg ibmIcon="notification" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIcon="user--avatar" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIcon="switcher" size="20"></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>
