<cds-header name="Imago Administration" cdsTheme="g100">
  <img src="../../../assets/logo.png" alt="Logo">
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['./']">Dashboard</cds-header-item>
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['user']">User Management</cds-header-item>
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['role']">Role Management</cds-header-item>
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['post']">Post Management</cds-header-item>
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['report']">Report Management</cds-header-item>
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['settings']">Settings</cds-header-item>
  </cds-header-navigation>
  <cds-header-global>
    <cds-header-action title="action">
      <!-- <svg cdsIcon="switcher" size="20"></svg> -->
      <!--      -->
      <!--      ></svg>-->
      <cds-overflow-menu [open]="false" [customTrigger]="customTrigger" placement="bottom" [offset]="{ x: -8, y: 0 }">
        <cds-overflow-menu-option [routerLink]="['user']">
          User Management
        </cds-overflow-menu-option>
        <cds-overflow-menu-option [routerLink]="['role']">
          Role Management
        </cds-overflow-menu-option>
        <cds-overflow-menu-option [routerLink]="['post']">
          Post Management
        </cds-overflow-menu-option>

        <cds-overflow-menu-option [routerLink]="['report']">
          Report Management
        </cds-overflow-menu-option>

        <cds-overflow-menu-option [routerLink]="['settings']">
          Settings
        </cds-overflow-menu-option>
      </cds-overflow-menu>
      <cds-placeholder></cds-placeholder>
      <ng-template #customTrigger>
        <svg cdsIcon="switcher" size="20"></svg>
      </ng-template>
    </cds-header-action>
    <cds-header-action title="action">
      <svg cdsIcon="notification" size="20"></svg>
    </cds-header-action>
    <cds-header-action title="action">
      <svg cdsIcon="user--avatar" size="20"></svg>
    </cds-header-action>

  </cds-header-global>
</cds-header>