<cds-header name="Imago Administration" cdsTheme="g100">
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['./']">Dashboard</cds-header-item>
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['user']">User Management</cds-header-item>
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['role']">Role Management</cds-header-item>
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['post']">Post Management</cds-header-item>
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['report']"
      >Report Management</cds-header-item
    >
  </cds-header-navigation>
  <cds-header-navigation ariaLabel="Carbon Tutorial Angular">
    <cds-header-item [routerLink]="['settings']" >Settings</cds-header-item>
  </cds-header-navigation>
  <cds-header-global>
    <cds-header-action title="action">
      <svg cdsIcon="notification" size="20"></svg>
    </cds-header-action>
    <cds-header-action title="action">
      <svg cdsIcon="user--avatar" size="20"></svg>
    </cds-header-action>
    <cds-header-action title="action">
      <svg cdsIcon="switcher" size="20"></svg>
    </cds-header-action>
  </cds-header-global>
</cds-header>
