<cds-tab-header-group
  type="line"
  [followFocus]="followFocus"
  [cacheActive]="cacheActive"
  [isNavigation]="isNavigation"
>
  @for (chart of chartItems; track chart.name; let i = $index) {
    <button
      cdsTabHeader
      (click)="setActiveChart(chart.url, i)"
      [class.cds--tabs__nav-item--selected]="i === selectedIndex"
    >
      {{ chart.name }}
    </button>
  }
</cds-tab-header-group>

<div class="container">
  <div class="table">
    <cds-table
      [model]="model"
      size="xl"
      [skeleton]="skeleton"
      [showSelectionColumn]="false"
      [enableSingleSelect]="false"
      [sortable]="false"
      [stickyHeader]="false"
      [striped]="false"
    >
      <ng-content></ng-content>
    </cds-table>
  </div>
  <div class="chart">
    <router-outlet></router-outlet>
  </div>
</div>
