<h1>User Management</h1>
<div class="all">
  <cds-tab-header-group
    [type]="'line'"
    [followFocus]="followFocus"
    [cacheActive]="cacheActive"
    [isNavigation]="isNavigation"
  >
    @for (name of types; track name.name; let i = $index) {
      <button
        cdsTabHeader
        [paneReference]="content1"
        (click)="navigateTo(name.route, i)"
        [class.cds--tabs__nav-item--selected]="i === tabIndex"
      >
        {{ name.name }}
      </button>
    }
  </cds-tab-header-group>

  <div class="content">
    <cds-tab #content1>
      <router-outlet></router-outlet>
    </cds-tab>
  </div>
</div>
