h1 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  padding: 10px;
}

h4 {
  font-size: 16px;
  padding: 10px 0 10px 10px;
}

.all {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 20px 0 0;
  transition: all 1s ease, opacity 0.5s linear 1s;
  transition-delay: 1s;
  transition-duration: 2s;

  .left {
    display: flex;
    width: 100%;
  }

  #cdTableCon {
    width: 100%;
  }

  .table {
    display: flex;
    flex-direction: column;

    cds-pagination-nav {
      align-self: center;
    }
  }
}

#textedit {
  display: flex;
  height: 50px;
  background-color: black;
  font-weight: 600;
  color: white;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

.editrole {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 20px;

  cds-table-container {
    width: 400px;

    .exitCloseRole {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f4f4f4;
      height: 44px;
      padding: 0 10px 0 10px;

      h2 {
        font-size: 16px;
      }

      cds-button-set {
        button {
          border: none;
          background-color: #f4f4f4;
        }
      }
    }
  }
}

select {
  height: 30px;
  width: 100%;
  background-color: #F4F4F4;
  border: none;
  outline: none;
  padding-left: 10px;
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.drbrole {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;


}

#textarea {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 122px;
}

#es {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 50px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;

  i {
    color: white;
  }
}

.categoryrole {
  color: #525252;
}

.listExit {
  display: flex;
  justify-content: space-between;
}

::ng-deep .cds--btn-set .cds--btn.cds--btn--expressive {
  max-inline-size: 100%;
}

::ng-deep .cds--pagination-nav__page:not(.cds--pagination-nav__page--direction)::after {
  background-color: var(--cds-border-interactive, #161616);
}

::ng-deep .cds--text-input--invalid {
  outline: 2px;
  box-shadow: none;
}

::ng-deep .cds--text-area--invalid {
  box-shadow: none;
}

::ng-deep .cds--btn:first-of-type:not(:focus) {
  margin-top: 2px;
}


