
.container {
  width: 100%;
  height: auto;
}
.img-logo {
  width: 70px;
  height: 70px;
  align-items:center;
}
.overlay-panel {
  width: 50%;
  float: left;
  height: 100vh;
  background-image: url("https://cdn.dribbble.com/userupload/3367834/file/original-f0be537b57ad2378b591ddcb640b753a.png?resize=1200x900");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-container {
  width: 50%;
  height: 100vh;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
  gap: 20px;
}

h1 {
  font-weight: bold;
  margin: 0;
}


cds-button-set {
  width: 100%;

}

button {
  width: 288px;
  height: 48px;
  background-color: black;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:hover {
  background-color: black;
  transform: scale(0.95);
}

button:focus {
  outline: none;
}


.sigin {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  gap: 20px;

  text-align: center;

  h1 {
    text-align: left;
  }
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  //margin: 8px 0;
  width: 288px;
  height: 48px;
}



input {
  border: none;
  border-bottom: 2px solid gray;
}

input:focus, input:active {
  outline: none;
  border: 1px solid black;
}

.btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media (max-width: 740px) {

  .overlay-panel {
    width: 100%;
    height: 50vh;
  }
  .form-container {
    width: 100%;
    height: 50vh;
  }
  .sigin {
    padding: 0 20px;
  }
  .img-logo {
    width: 40px;
    height: 40px;
  }
  .btn {
    width: 100%;
  }
  .btn-save {
    width: 100%;
  }
  .btn-save {
    width: 100%;
  }
  .myDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    background-color: #f4f4f4;
    width: 100%;
    min-height: 50px;
    align-items: center;
    padding: 0 0 0 20px;
  }
  .img-mini-avatar {
    border-radius: 50%;
  }
  .chat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    //margin-top: 20px;
  }
  .chat-box-total {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .widchat {
    p {
      max-width: 400px;
    }
  }
  ::ng-deep .cds--content {
    padding: 0;
  }
  cds-dropdown .cds-dropdown-list {
    width: 80%;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
  }
  cds-dropdown .cds-dropdown-list.open {
    max-height: 200px;
    transition: max-height 0.2s;
  }
  .btn-save {
    width: 132px;
  }
  .myDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    background-color: #f4f4f4;
    width: 100%;
    min-height: 50px;
    align-items: center;
    padding: 0 0 0 20px;


  }
  .img-logo{
    width: 70px;
    height: 70px;
    margin-top: 150px;
  }

}
