::ng-deep .cds--overflow-menu__icon {
  block-size: 2rem;
  fill: var(--cds-icon-primary, #161616);
  inline-size: 1.5rem;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.left {
  width: 60%;
  height: 100%;
}

.right {
  margin-left: 20px;
  width: 40%;
  height: 36.25rem;
  border-left: #dadada 2px solid;
  padding-left: 15px;
  overflow-y: scroll;
  scrollbar-width: none;
}

//if 4k screen then increase the height
@media (min-width: 3840px) {
  .right {
    height: 40rem;
  }
}

.right::-webkit-scrollbar {
  display: none;
}

.right .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right .info {
  display: flex;
  align-items: center;
}

.right .avatar {
  width: 50px;
  height: 50px;
}

.right .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.right .image {
  margin: 10px;
  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.img-block1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //overflow scroll horizontal
  overflow-x: auto;

  scrollbar-width: thin;
  scrollbar-color: #dadada #f5f5f5;

  .image {
    width: 400px;
    height: 400px;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
.comment-block {
  margin-top: 20px;
  .comment {
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    .title {
      display: flex;
      align-items: center;
      justify-content: start;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .name {
        font-size: 20px;
        font-weight: 700;
        color: #262626;
      }
    }
  }
  .content {
    width: 100%;
    //if text overflow then down to next line
    word-wrap: break-word;
  }
}

.img-block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  //overflow scroll horizontal
  overflow-x: auto;

  scrollbar-width: thin;
  scrollbar-color: #dadada #f5f5f5;
}

.right .image img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.right .text {
  margin-left: 10px;
}

.right .text .name {
  font-size: 26px;
  font-weight: 800;
  color: #262626;
}

.right .content {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
  color: #262626;
}

.right .action {
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right .row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.right .row h2 {
  font-size: 16px;
  font-weight: 800;
  color: #262626;
}

.right .line {
  width: 100%;
  height: 1px;
  background-color: #dadada;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

cds-table {
  width: 100%;
}

.cds--form-item {
  align-items: unset;
}

.cds--modal-content {
  height: 260px;
  overflow: scroll;
}

.cds--modal-header__heading {
  font-weight: 700;
}

::ng-deep .cds--label {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
}

.checkBox {
  margin-top: 20px;
}

.actionPost {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-top: 5px;
  .like {
    display: flex;
  }
  .comment {
    display: flex;
  }
  .share {
    display: flex;
  }
}
