<div class="row">
  <div class="info">
    <div class="title">
      <div class="text">
        <span>10.200</span>
        <h1>Users</h1>
      </div>
      <div class="image">
        <img src="./assets/img/user.svg" alt="" />
      </div>
    </div>
    <div class="action">
      <p>More info</p>
    </div>
  </div>
  <div class="info">
    <div class="title">
      <div class="text">
        <span>8.562</span>
        <h1>User Registrations</h1>
      </div>
      <div class="image">
        <img src="./assets/img/user--follow.svg" alt="" />
      </div>
    </div>
    <div class="action">
      <p>More info</p>
    </div>
  </div>
  <div class="info">
    <div class="title">
      <div class="text">
        <span>4.562</span>
        <h1>Posts</h1>
      </div>
      <div class="image">
        <img src="./assets/img/request-quote.svg" alt="" />
      </div>
    </div>
    <div class="action">
      <p>More info</p>
    </div>
  </div>
  <div class="info">
    <div class="title">
      <div class="text">
        <span>5.562</span>
        <h1>Categories</h1>
      </div>
      <div class="image">
        <img src="./assets/img/data--categorical.svg" alt="" />
      </div>
    </div>
    <div class="action">
      <p>More info</p>
    </div>
  </div>
</div>

<div class="container" style="width: 100%">
  <div class="top">
    <div class="post-chart">
      <h2>Total number of posts</h2>
      <app-post-chart></app-post-chart>
      <div class="action-chart">
        <p>More detail</p>
        <img src="./assets/img/right-arrow.svg" alt="" />
      </div>
    </div>
    <div class="user-chart">
      <h2>Total number of users</h2>
      <app-user-chart></app-user-chart>
      <div class="action-chart">
        <p>More detail</p>
        <img src="./assets/img/right-arrow.svg" alt="" />
      </div>
    </div>
    <div class="category-chart">
      <h2>Category trends</h2>
      <app-category-chart></app-category-chart>
      <div class="action-chart">
        <p>More detail</p>
        <img src="./assets/img/right-arrow.svg" alt="" />
      </div>
    </div>
  </div>
</div>
