<div class="container">
  <h1>REPORT MANAGEMENT</h1>

  <cds-tab-header-group
    type="line"
    [followFocus]="followFocus"
    [cacheActive]="cacheActive"
    [isNavigation]="isNavigation"
  >
    @for (name of types; track name.name; let i = $index) {
      <button
        cdsTabHeader
        (click)="navigateTo(name.route, i)"
        [class.cds--tabs__nav-item--selected]="i === tabIndex"
      >
        {{ name.name }}
      </button>
    }
  </cds-tab-header-group>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
