.editrole {
  display: flex;
  flex-direction: column;

  cds-table {
    width: 400px;
  }

  cds-pagination-nav {
    align-self: center;
  }
}

::ng-deep .cds--loading__stroke {
  stroke: var(--cds-interactive, #161616);
}
